{
  "presets": [
    [
      "es2015", {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime", {
        "helpers": true,
        "polyfill": true,
        "regenerator": false,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
