@import "./toolbox-theme.scss";

.title-icon {
  background-color: #2f2f2f;
  height: 8vh;

  button {
    width: 100%;
    height: 8vh;
    min-width: 0;
    border-radius: 0;
    color: $sidebar-button-off-color-1 !important;

    .material-icons {
      line-height: 1em;
      font-size: 6vh;
      margin: 0;
    }
  }
}

.history-collection {
  color: 'ffffff';
  background-color: #626262;
  height: 100%;
  padding: 2vh;

  .thumbnail-container{
    display: flex;
    justify-content: center;
    align-items: center;

    .add-thumbnail {
      width: 9vw;
      height: 9vw;
    }
  }
}
