@import "./toolbox-theme.scss";

.titleIcon {
  background-color: rgb(22, 22, 22);
  height: 8vh;

  button {
    width: 100%;
    height: 8vh;
    min-width: 0;
    border-radius: 0;
    color: $sidebar-button-off-color-1 !important;

    .material-icons {
      line-height: 1em;
      font-size: 6vh;
      margin: 0;
    }
  }
}

.historyCollection {
  color: 'ffffff';
  background-color: #626262;
  width: 100%;
  height: 100%;
}
