.thumbnailImg {
  opacity: 0.9;
  border: 0.5vh;
  border-radius: 0.5vh;
  padding-left: 0.5vh;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-right: 0.5vh;

  &:hover {
    opacity: 1;
  }
}

.thumbnailImgHighlight {
  opacity: 0.9;
  border: 0.5vh solid #4286f4;
  border-radius: 0.5vh;

  &:hover {
    opacity: 1;
  }
}
