.thumbnailImg {
  opacity: 0.9;
  margin-top: 0px;
  margin-left: 0px;
  border: 0px;
  border-radius: 8px;

  &:hover {
    opacity: 1;
  }
}

.thumbnailImgHighlight {
  opacity: 0.9;
  border: 10px solid #4286f4;
  border-radius: 8px;
  margin-top: -10px;
  margin-left: -10px;

  &:hover {
    opacity: 1;
  }
}