@import "./toolbox-theme.scss";

.wrapper{
  --z-index-higher: 10 !important;
}

.sidebar {
  font-size: 2vh;
  background: #9e9e9e;
  border: none !important;
  color: #ffffff;
  --drawer-mobile-width: 20vw;
  --progress-height: 1vh;
  right: 12vw !important;
  overflow: hidden;

  aside {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .feature-indicator {
    height: 8vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    .item {
      flex-grow: 1;
      min-width: 0;
      text-align: center;
      color: $sidebar-button-off-color-1;
      background: $sidebar-button-off-color-2;

      &.active {
        color: $sidebar-button-on-color-1;
        background: $sidebar-button-on-color-2;
      }

      button {
        display: flex;
        width: 100%;
        height: 8vh;
        min-width: 0;
        border-radius: 0;
        color: inherit !important;

        .material-icons {
          line-height: 1em;
          font-size: 6vh;
          margin: 0;
        }
      }

      .custom-icon {
        margin-top: 4px;
        width: 20px;
        height: 20px;
        line-height: 1em;
        vertical-align: baseline;

        svg .cls-1 {
          fill: currentColor;
        }
      }
    }
  }

  .sidebar__content-container{
    height: calc(100% - 8vh);
    padding: 3vh;
    overflow: hidden;

    &:hover{
      overflow-y: auto;
    }

    &:active{
      overflow-y: auto;
    }

    .sidebar-content{
      padding-bottom: 3vh;
      color: #ffffff;

      label{
        display: block;
        color: white;
        padding-bottom: 1vh;
      }

      .preview-thumbnail {
        width: 14vw;
        height: 14vw;
      }

      .image-properties {
        ul {
          list-style-type: none;
          display: flex;
          margin: 0;
          padding: 0;
        }

        li {
          height: 8vh;
        }
      }
    }
  }
}
