@import "./toolbox-theme.scss";

.sidebar {
  font-size: 2vh;
  background: #212121;
  border: none !important;
  color: #d9d9d9;
  --drawer-mobile-width: 20vw;
  --progress-height: 1vh;

  ::-webkit-scrollbar {
    width: 1em;
    background: #616161;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: #BDBDBD;
  }

  aside {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sidebar__content-container{
    padding: 3vh;

    .sidebar-content{
      padding-bottom: 3vh;
      color: #a4a4a4;

      label{
        display: block;
        color: white;
        padding-bottom: 1vh;
      }

      .preview-thumbnail {
        width: 14vw;
        height: 14vw;
      }

      .image-properties {
        ul {
          list-style-type: none;
          display: flex;
          margin: 0;
          padding: 0;
          border: solid 1px #454545;
        }

        li {
          height: 8vh;
        }
      }
    }
  }

  .feature-indicator {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      text-align: center;
      color: $sidebar-button-off-color-1;
      background: $sidebar-button-off-color-2;
      flex-grow: 1;

      &.active {
        color: $sidebar-button-on-color-1;
        background: $sidebar-button-on-color-2;
      }

      button {
        width: 100%;
        height: 8vh;
        min-width: 0;
        border-radius: 0;
        color: inherit !important;

        .material-icons {
          line-height: 1em;
          font-size: 6vh;
          margin: 0;
        }
      }

      .custom-icon {
        margin-top: 4px;
        width: 20px;
        height: 20px;
        line-height: 1em;
        vertical-align: baseline;

        svg .cls-1 {
          fill: currentColor;
        }
      }
    }
  }
}
