{
  "extends": "plugin:react/recommended",
  "rules": {

  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "babel",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  }
}
