.itemAverage .MuiChip-root-89{
  /* margin-left: 2vw; */
  /* margin-top: 1vh; */
  grid-area: average;
  
  background-color: #3f51b5;
  color: #ffffff; 
}

.itemAverage div {
  height: 3vh;
  border-radius: 3vh;
}

.itemAverage div span {
  font-size: 1.5vh;
  font-weight: 500;
}

.itemText {
  /* margin-left: 2vw; */
  /* margin-top: 1vh; */
  text-align: left;
  grid-area: text;
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2vh
}
.itemHist {
  grid-area: hist;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  /* margin-right: 7vw; */
  /* margin-left: 2vw; */
}

.itemHist div {
  height: 1vh;
  margin-top: 0vh;
}

.itemDivider {
  grid-area: divider;
  
}
.itemStars {
  grid-area: stars;
  display: grid;
  grid-template-rows: auto; 
  align-items: center; 
  
  /* margin-left: 2vw; */
  margin-top:  -0.1vh;
  text-align: left;
  
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5vh;
}

.itemCount {
  margin-left: 1vw;
  margin-top: -0.1vh;
  grid-area: count;
  display: grid;
  grid-template-rows: auto;
  align-items: center; 

  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5vh;
}

.container {
    display: grid;
    grid-template-rows: 5vh 0vh 15vh;
    grid-template-columns: 4vw 6vw 1vw; 
  
    grid-template-areas:  
    "average text ." 
    "divider divider divider" 
    "stars   hist    count" ; 
}