<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>float-view demo</title>

    <script type="module" src="../src/index.js"></script>

  </head>
  <body>
    <style>
      #ex1{
        width: 1920px;
        height: 1080px;
      }
    </style>
    <div class="vertical-section-container centered">
      <h3>Basic float-view demo</h3>
        <div id="ex1">
          <script src="./demo1.js" type="module"></script>
          <float-view id="floatViewTest1"></float-view>
        </div>
    </div>
  </body>
</html>
