<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0;url=demo/" />
    <title>sample-component</title>
  </head>
  <body>
    <!--
        NEED THIS FILE FOR POLYMER TO BE ABLE TO SERVE

        ELEMENT API DOCUMENTATION SUPPORT COMING SOON
        Visit demo/index.html to see live examples of your element running.
        This page will automatically redirect you there when run in the browser
        with `polymer serve`.
      -->
  </body>
</html>
